services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - my_ocr_node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true
    stdin_open: true

volumes:
  my_ocr_node_modules:

